.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
ArduinoOutput/.last-used
ArduinoOutput/AutonomousWatercraft.ino.eep
ArduinoOutput/AutonomousWatercraft.ino.elf
ArduinoOutput/AutonomousWatercraft.ino.hex
ArduinoOutput/AutonomousWatercraft.ino.with_bootloader.bin
ArduinoOutput/AutonomousWatercraft.ino.with_bootloader.hex
ArduinoOutput/build.options.json
ArduinoOutput/compile_commands.json
ArduinoOutput/includes.cache
ArduinoOutput/libraries.cache
ArduinoOutput/preproc/ctags_target_for_gcc_minus_e.cpp
ArduinoOutput/sketch/AutonomousWatercraft.ino.cpp
ArduinoOutput/sketch/AutonomousWatercraft.ino.cpp.d
ArduinoOutput/sketch/AutonomousWatercraft.ino.cpp.o
ArduinoOutput/sketch/.vscode/arduino.json
ArduinoOutput/sketch/.vscode/c_cpp_properties.json
ArduinoOutput/sketch/.vscode/settings.json
